body
{
    font-family: segoe ui;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}

.container
{
    border: transparent;
    width: 600px;
}

.card
{
    border: transparent;
}

.card-body
{
    border: 1px solid lightgrey;
    border-radius: 10px;
    
}

h2
{
    text-align: center;
    font-weight: bold;
    color: #004c84;
    margin-bottom: -10px;
}

.clock
{
    text-align: center;
    font-size: 25px;
    margin-top: -15px;
    margin-bottom: 3px ;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: gray;
}

.modal-header
{
    background-color: #004c84;
}

.modal-title
{
    color: white;
}

.malay
{
    color: rgb(151, 151, 151);
    font-size: smaller;
}